<section class="max-w-7xl mx-auto px-6 mt-12 text-center">
  <h2 class="text-5xl font-bold text-gray-800 animate-fade-in-up">Formas de Donar</h2>
  <p class="text-lg text-gray-600 mt-4 max-w-3xl mx-auto animate-fade-in-up">
    Descubre las distintas maneras de ayudar y aportar un cambio positivo en la vida de muchas personas.
  </p>

  <div class="grid grid-cols-1 md:grid-cols-3 gap-8 mt-8">
    
    <div *ngFor="let donacion of donaciones" class="bg-white p-6 rounded-xl shadow-lg transform transition hover:scale-105 flex flex-col items-center">
      <img [src]="donacion.imagen" [alt]="donacion.titulo" class="h-40 w-full object-cover rounded-lg">
      <h3 class="text-2xl font-semibold mt-4" [ngClass]="donacion.color">{{ donacion.titulo }}</h3>
      <p class="text-gray-600 mt-2 text-center">{{ donacion.descripcion }}</p>
      <a routerLink="{{ donacion.link }}" class="mt-4 inline-block text-white px-5 py-2 rounded-lg shadow-lg transition" 
         [ngClass]="donacion.botonColor">
        Más información
      </a>
    </div>

  </div>
</section>
