<header [ngClass]="{'hidden-header': !isHeaderVisible}">
  <div class="header-content">
    <div class="logo-container">
      <img src="../../../assets/logo/logo.png" alt="Where2Donate Logo">
      <a routerLink="/">Where2Donate</a>
    </div>
    
    <nav class="nav-menu">
      <a routerLink="/inicio" class="menu-item">Inicio</a>
      <div class="submenu-container">
        <button class="menu-item">Donaciones ▼</button>
        <div class="submenu-content">
          <a routerLink="/donaciones/pelo" class="submenu-item text-pink-500">Donación de Pelo</a>
          <a routerLink="/donaciones/sangre" class="submenu-item text-red-500">Donación de Sangre</a>
          <a routerLink="/donaciones/juguetes" class="submenu-item text-yellow-500">Donación de Juguetes</a>
          <a routerLink="/donaciones/libros" class="submenu-item text-blue-500">Donación de Libros</a>
          <a routerLink="/donaciones/dinero" class="submenu-item text-green-500">Donación de Dinero</a>
          <a routerLink="/donaciones/tiempo" class="submenu-item text-purple-500">Dona tu Tiempo</a>
        </div>
      </div>
      <a routerLink="/blog" class="menu-item">Blog</a>
      <a routerLink="/sugerencias" class="menu-item">Sugerencias</a>
      <a routerLink="/suscripciones" class="menu-item">Suscripciones</a>
    </nav>

    <div class="btn-container">
      <a routerLink="/autenticacion/inicio-sesion" class="btn-primary">Iniciar Sesión</a>
      <a routerLink="/autenticacion/registro" class="btn-highlight">Registrarse</a>
    </div>
  </div>
</header>
